<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.mapper.UserMapper" >
    <insert id="addUser" parameterType="com.mall.pojo.bo.UserBo">
        insert into users(id,username,password,face,created_time,updated_time) value (#{id},#{username},#{password},#{face},#{createdTime},#{updatedTime})
    </insert>
    <select id="queryUserByCondition" resultType="com.mall.pojo.Users">
        select
        id,username,password,nickname,realname,face,mobile,email,sex,birthday,created_time,updated_time
        from users
        <trim suffixOverrides="and">
            <where>


            <if test="id != null and id != ''">
                id like #{id} and
            </if>
            <if test="username != null and username!= ''">
                username like '%${username}%' and
            </if>
<!--            <if test="nickname != null">-->
<!--                nickname like #{nickname} and-->
<!--            </if>-->
<!--            <if test="realname != null">-->
<!--                realname like #{realname}-->
<!--            </if>-->
            </where>
        </trim>

        order by updated_time desc
    </select>
</mapper>